@import "../Sass/colors";



.question-Modal-Wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 80px 80px  $main-color4;
    background-color: $main-color2;
    border: 2px solid $main-color3;
    border-radius: 65px;
    
    h2{
      color: white;
      margin: 15px auto;
    }

    .question-input{
       margin: 10px auto;
       width: 90%;
    }

    .file-input{
        margin: 10px auto;
        background-color: $main-color5;
        color: white;

    }
    

    i{
      color: $main-color4;
      margin-top: 10px;
    }
    .plus-circle {
        margin-right: 10px;
    }

    button{
       border: 1px solid $main-color4;
       margin-top: 10px;
       width: 100px;
       height: 30px;
       border-radius: 5px;
       box-shadow: 0px 3px 0px white;
       color: $main-color4;
       background-color: $main-color2;
    }
    button:active {
        box-shadow: 0px 1px 0px $main-color3;
    }
}

.addAnswer-div {
    display: flex;
    flex-direction: column;
   .answer-input{
       color: white;
       border: 1px solid green;
       margin: 10px auto;
       width: 100%;

   }

   .answer-image-file{
      margin: 5px auto;
      color: white;
      background-color: $main-color5;
   }
}

.QuestionsDiv{
    background-color: gray;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
    
.SingleQuestionDiv{
    display: flex;
    margin: 10%;
}
.QuestionImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.PlusSignDiv{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.PlusSign{
    height: 80px;
    width: 80px;
}