@import "../Sass/colors";
@import '../Sass//fonts';


.question-Modal-Wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 80px 80px  $main-color4;
    background-color: $main-color2;
    border: 2px solid $main-color3;
    border-radius: 65px;
    


    h1 {
      color: white;
    }

    h2{
      color: white;
      margin: 15px auto;
    }

    .question-input{
       margin: 10px auto;
       width: 90%;
    }

    .file-input{
        margin: 10px auto;
        background-color: $main-color5;
        color: white;

    }
    

    i{
      color: $main-color4;
      margin-top: 10px;
    }
    .plus-circle {
        margin-right: 10px;
    }

    button{
       border: 1px solid $main-color4;
       margin-top: 10px;
       width: 100px;
       height: 30px;
       border-radius: 5px;
       box-shadow: 0px 3px 0px white;
       color: $main-color4;
       background-color: $main-color2;
    }
    button:active {
        box-shadow: 0px 1px 0px $main-color3;
    }
}

.addAnswer-div {
    display: flex;
    flex-direction: column;
   .answer-input{
       color: white;
       border: 1px solid green;
       margin: 10px auto;
       width: 100%;

   }

   .answer-image-file{
      margin: 5px auto;
      color: white;
      background-color: $main-color5;
   }
}

.single-question{
    display: flex;
    align-items: center;
    margin: 30px auto;
    border: 1px solid $main-color3;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 8px $main-color4;
    width: 80%;
    height: 
   img {
     width: 100px;
     height: 100px;
     border: 1px solid $main-color3;
     border-radius: 50%;
   }
   p {
     height: auto;
     width: 100%;
     color: white;
     font-family: $main-font;
     margin: 2px;
     align-items: center;
     text-align: center;  
   }
    
}


.single-question {

}
    
.addQuestion-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 55px;
    width: 100%;
    background:  rgba(11, 12, 16, .6);
    border-top: 1px solid $main-color3;
    border-bottom: 1px solid $main-color3;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-add {
      color: $main-color4;
      font-size: 40px;
      margin-right: 20px;
    }
    p {
      color: white;
      font-family: $main-font;
      letter-spacing: 1px;
    }
}