.SearchMainDiv{
  background-color: black;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.BoxyBox{
  background-color: #0B0C10;
  border: 2px solid #C5C6C7;
  border-radius: 5px;
  display: flex;
  width: 350px;
  height: 75px;
  padding: 10px;
  margin: 25px;
  align-items: center;
  box-shadow: 0px 0px 8px 8px #66FCF1;
}
.SearchResultImage{
height: 100px;
width: 100px;
}