.AllComments{
  width: 100%;
  height: auto;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  overflow: scroll;
}

.Comments{
  background-color: rgb(145, 136, 136);
  border-radius: 20px;
  margin: 3px;
  height: 90px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: initial;
}
::-webkit-scrollbar {
  
}

.Text p{
  margin: 0px;
  font-size: 13px;
}

.UserAndDate{
  height: 50%;
}

.Diveydiv{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* overflow-y: hidden; */
}

.ProfileImage {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid black;
}

.AddNewCommentButton{
  color: black;
  background: aqua;
  height: 25px;
  margin: 15px;
  width: 70px;
  border-radius: 20px;
  border: 1px solid black;
}

.CommentInput{
  width: 180px;
  height: 20px;
  border-radius: 50px;
  border: 1px solid white;
}

.CommentInput:focus{
  border: 1px solid white;
  box-shadow: none;
}

.InputAndButton{
  display: flex;

}

.Username{
  margin: 0px;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}

.Date{
  font-size: 6px;
  margin: 0px;
}

