@import '../Sass/colors';

@mixin Login {
    display: flex;
    justify-content: center;
    border: 3px solid $main-color4;
    border-radius: 50%;
    height: 30px;
    width: 54px;
    font-size: 10px;
    background-color: $main-color1;
    color: $main-color4;
    font-family: 'Permanent Marker', cursive;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


body {
    background: $main-color5;
}

.nav-wrapper {
    background-color: $main-color1;
    height: 60px;
    display: flex;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $main-color4;
        border: 2px solid $main-color3;
        margin-left: 5px;
        cursor: pointer;
        
    }
    p {
        color: $main-color4;
        font-size: 25px;
        font-family: 'Permanent Marker', cursive;
        margin-left: 10px;
    }

    .user-icon {
        font-size: 22px;
        cursor: pointer;
        margin-top: 5px;
    }

    .search-icon {
        font-size: 22px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    nav {
        display: flex;
        align-items: center;
        ul {
            list-style-type: none;
            display: flex;
            li {
                color: $main-color4;
                display: flex;
                align-items: center;
                .login-nav {
                   @include Login();
                }
                .logout-nav {
                    @include Login();
                }
            }
        }
    }

    .login-modal{
        background-color: $main-color5;
    }
}

